@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: #f8f9fa;
            text-align: center;
        }

        h1 {
            font-size: 2.5rem;
            color: #343a40;
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 6px;
        }
    </style>
</head>
<body>
    <h1 class="display-4">Welcome!</h1>
    <br />
    <img src="https://www.barnorama.com/wp-content/uploads/2018/11/funny-cat-closeup2.jpg" alt="Funny Cat with a Fish Eye Lens." width="300" height="400">
</body>
</html>
